@model Institution

@{
    ViewData["Title"] = "Информация";
}

<div>
    <h1>Подробная информация</h1>
    <a asp-action="Edit" asp-route-institutionId="@Model.Id">Edit</a>
</div>

<div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <img src="@(Model.ImageUrl ?? "/images/image-not-found.png")" class="image-detail" alt="Item image">
        </div>

        <div class="col">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Director)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Director.FullName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.InstituteType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.InstituteType)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Teachers)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Teachers.Count)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Students)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Students.Count)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Specialities)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Specialities.Count)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        В 2010 году учреждение образования "Бобруйский государственный лесотехнический техникум" переименован в государственное учреждение образования "Бобруйский государственный лесотехнический колледж".

Большая работа проведена по улучшению учебно-материальной базы. В декабре 2003 года сдан в эксплуатацию новый учебный корпус.

На сегодня колледж располагает 43 кабинетами и лабораториями, учебными мастерскими (слесарной, механической, деревообработки) с учебным классом, 1 актовым залом, спортивным залом, 2 буфетами, библиотекой с книжным фондом около 60 тысяч экземпляров книг, читальным залом на 60 мест, комнатой здоровья в общежитии.

82 года для учреждения небольшой, но и немалый промежуток времени. Многое достигнуто за эти годы. Колледж неоднократно завоевывал призовые места во Всесоюзном соревновании среди учебных заведений Минлеспрома СССР, награжден дипломами различных степеней ВДНХ СССР, союзных и республиканских выставок художественного и технического творчества учащихся и преподавателей. Кабинеты языка и литературы, курсового и дипломного проектирования, технического черчения в смотрах-конкурсах различных лет удостоены звания «Образцовый учебный кабинет». Среди учащихся колледжа призеры предметных областных олимпиад и выставок технического творчества.

Но успех не приходит сам по себе: за ним упорный труд всего коллектива. Педагогический коллектив состоит из 50 высококвалифицированных специалистов, 23 из них имеют высшую, а 16 первую квалификационную категорию.

Серьезное внимание уделяется внеаудиторной работе, направленной на привитие интереса к будущей специальности. Учащиеся участвуют в конкурсах «Лучший по профессии», конференциях, КВН по предметам, комплексных защитах курсовых проектов.

Методический совет техникума многое делает для совершенствования учебно-воспитательной работы, обобщения и распространения передового педагогического опыта, внедрения в учебный процесс активных методов обучения. В методическом кабинете собрана необходимая литература по педагогике и психологии, рекомендации по планированию, отчетности, контролю, проведению тематических кураторских часов. Здесь есть многочисленные методические разработки и доклады, материалы научно-практических и теоретических конференций.

Работники библиотеки организуют встречи с интересными людьми, ветеранами ВОВ и труда. Интересно проходят литературные вечера, диспуты, конференции, оформляются выставки к знаменательным датам. Это далеко не полный перечень работы библиотеки.

В колледже работают кружки художественной самодеятельности, спортивные, технического творчества и кружки по интересам, в которых занимается 320 учащихся колледжа.

Большое внимание уделяется физическому воспитанию учащихся. Регулярно работают секции по различным видам спорта. В техникуме выросло много спортсменов, неоднократно защищавших спортивную честь страны, республики.

Колледж гордится своими выпускниками: А.Кисляком-чемпионом СССР по велоспорту, мсмк чемпионом мира и Европы по полиатлону Д.Парахневичем, мсмк чемпионом Европы по атлетической гимнастике А.Криксиным, мс призером чемпионата Республики Беларусь по рукопашному бою В.Ермолаевым.

В 2000 году команда девушек стала победителем республиканских соревнований по легкоатлетическому кроссу среди учащихся ССУЗов.

Кандидаты в мастера спорта О.Фоменко и А.Куницкая входят в состав сборной команды республики по футболу.

Труд коллектива по достоинству оценен. За достигнутые успехи в подготовке квалифицированных специалистов среднего звена для лесной и деревообрабатывающей промышленности техникум награжден Почетной грамотой Верховного Совета БССР.

За 82 года подготовлено 13118 специалистов. Многие из них стали отличными специалистами, организаторами и руководителями производства, высококвалифицированными мастерами отрасли.

Основное содержание работы педагогического коллектива высокое качество подготовки молодых специалистов. О глубине и прочности знаний свидетельствуют не только результаты защиты дипломных проектов и сдачи Государственных экзаменов, но и результаты прошедшей аттестации техникума.

Впереди у преподавателей и учащихся много дел и начинаний, которые будут по плечу дружному, работоспособному коллективу.

Дорогу осилит идущий!

    </div>
</div>
